/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 14px;
  background: radial-gradient(circle closest-side, #000 92%, #0000) calc(100% / 3) 0 / calc(100% / 4) 100%;
  animation: l2 0.5s infinite linear;
}
@keyframes l2 {
  100% {
    background-position: 0 0;
  }
}
